# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Bytecode files
*.mpbc

# AST visualization
*.dot
*.png

# C++ build
cpp_vm/build/
cpp_vm/*.o
cpp_vm/minipy_vm

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
